<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Virtual Tourist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5EE3A1EE1DEA2F6B006B1C1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EE3A2021DEA2F6C006B1C1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EE3A20D1DEA2F6C006B1C1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
